.card__item {
  display: grid;
  grid-template-areas:
    "img img"
    "title btn"
    "text text";
}

/* Применение стилей к элементам, родитель которых card__item */
.card__item .button-card-close,
.card__item .button-like {
  grid-area: btn;
  justify-self: flex-end;
  align-self: center;
  margin-bottom: 25px;
  cursor: pointer;

  opacity: 1;
  transition: opacity .3s ease;
}

.card__img {
  width: 100%;
  /* height: calc(169px + 21 * (100vw - 320px) / 448); */
  aspect-ratio: 1.78;
  display: block;
  object-fit: cover;
  pointer-events: none;

  grid-area: img;
  margin-bottom: 10px;
}

.card__title {
  padding: 0;
  margin: 0;
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;

  grid-area: title;
  align-self: center;
}

.card__paragraph {
  padding: 0;
  margin: 0;
  color: #8B8B8B;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;

  margin-top: 25px;
  border-top: 1px solid #424242;
  padding-top: 6px;

  grid-area: text;
}

@media (hover: hover) {
  .card__btn-like:hover {
    opacity: .7;
  }
}


@media (min-width: 768px) {}

@media (min-width: 1280px) {}