.not-found {
  width: 100%;
  height: 100dvh;
  min-height: 235px;
  margin: 0 auto;
  box-sizing: border-box;

  display: grid;
  justify-content: center;
  align-content: center;
}

.not-found__container {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
}

.not-found__title {
  padding: 0;
  margin: 0;

  color: #FFF;
  text-align: center;
  font-size: calc(80px + 60 * (100vw - 320px) / 448);
  font-weight: 400;
  line-height: normal;

  padding-bottom: 10px;
}

.not-found__paragraph {
  padding: 0;
  margin: 0;

  color: #FFF;
  text-align: center;
  font-size: calc(12px + 4 * (100vw - 320px) / 448);
  font-weight: 400;
  line-height: normal;
}

.not-found__btn-back {
  padding: 0;
  margin: 0;
  border: none;

  align-self: flex-end;
  justify-self: center;

  position: fixed;
  padding-bottom: 30px;

  color: #4285F4;
  text-align: center;
  font-size: calc(12px + 2 * (100vw - 320px) / 448);
  font-weight: 400;
  line-height: normal;

  background-color: transparent;

  opacity: 1;
  transition: all .3s ease;
}


@media (min-width: 768px) {

  .not-found {
    min-height: 490px;
  }

  .not-found__container {
    position: static;
    transform: none;
  }

  .not-found__title {
    font-size: 140px;
  }

  .not-found__paragraph {
    font-size: 16px;
  }

  .not-found__btn-back {
    font-size: 14px;

    position: relative;
    top: 25vh;
  }
}

@media (min-width: 1280px) {}