.app-container {
  background-color: #202020;
  color: #FFF;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  line-height: normal;

  /* Высота вида на весь экран */
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  /* Базовые вендорные префиксы сглаживание и
    масштабирования для шрифтов страницы .page в CSS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}