.more {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.more__button {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 26px;

  border-radius: 6px;
  background-color: #2F2F2F;

  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;

  width: calc(240px + 80 * (100vw - 320px) / 448);
  height: 36px;

  opacity: 1;
  transition: all .3s ease;
}

@media (hover: hover) {
  .more__button:hover {
    opacity: 0.7;
  }

}


@media (min-width: 768px) {
  .more__button {
    width: 320px;
  }
}

@media (min-width: 1280px) {}