.account-menu {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 0.92;

  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 7px;

  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
  padding-left: 11px;
  /* background-color: rgb(0, 0, 0); */

  opacity: 1;
  transition: all .3s ease;
}

.account-menu__logo {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: #313131;
  background-image: url(../../images/svg/btn-account.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 12px 12px;
  width: 26px;
  height: 26px;
}


@media (hover: hover) {
  .account-menu:hover {
    opacity: .7;
  }
}