.search-form {
  box-sizing: border-box;
}

.search-form__container {}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 10px;

  padding-bottom: 45px;
  border-bottom: 1px solid #424242;
}

.form__search-input {
  box-sizing: border-box;
  border: none;
  background-color: #2F2F2F;
  border-radius: 9px;
  width: 100%;
  height: 72px;
  padding: 25px 19px;
  padding-right: 85px;

  color: #FFF;
  font-size: calc(14px + 4 * (100vw - 320px) / 448);
  font-weight: 400;
  line-height: 1.4;
}

.form__icon-search {
  text-align: left;
}

.form__search-input::placeholder {
  background-image: url('../../images/svg/icon-search.svg');
  background-repeat: no-repeat;
  background-size: calc(0px + 34 * (100vw - 320px) / 448);
  background-position: -10px 50%;
  padding-left: calc(0px + 25 * (100vw - 320px) / 448);
}

.form__submit-btn {
  padding: 0;
  margin: 0;
  width: 58.65px;
  height: 34px;
  border-radius: 48px;
  border: none;
  background: #4285F4;
  flex-shrink: 0;
  align-self: flex-end;
  position: absolute;
  /* margin-right: calc(19px + 208 * (100vw - 320px) / 448); */
  margin-right: 19px;
  margin-top: 19px;
  cursor: pointer;

  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.6;
}


@media (min-width: 576px) {
  .form {
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 109px;
  }

  .form__search-input {
    padding-right: 275px;
  }

  .form__submit-btn {
    margin-top: 0;
    margin-right: calc(227px - 19px);
    align-self: center;
  }
}

@media (min-width: 768px) {
  .form {
    padding-bottom: calc(109px - 40 * (100vw - 768px) / 512);
  }

  .form__submit-btn {
    margin-right: calc(227px + 30 * (100vw - 768px) / 512);
  }

  .form__search-input {
    font-size: 18px;
    padding-right: calc(295px + 30 * (100vw - 768px) / 512);
  }

  .form__search-input::placeholder {
    background-size: 34px;
    padding-left: 25px;
  }

}

@media (min-width: 1280px) {
  .form {
    padding-bottom: 69px;
  }

  .form__submit-btn {
    margin-right: 257px;
  }

  .form__search-input {
    padding-right: 325px;
  }

}