.techs {
  box-sizing: border-box;
  background-color: #272727;
  width: 100%;
}

.techs-container {
  box-sizing: border-box;
  width: 88.75%;
  margin: 0 auto;
}

.techs__title {
  padding: 0;
  margin: 0;
  font-size: calc(18px + 4 * (100vw - 320px) / 448);
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;

  border-bottom: 1px solid #DADADA;
  padding-bottom: calc(28px - 5 * (100vw - 320px) / 448);
  padding-top: calc(70px + 20 * (100vw - 320px) / 448);
  margin-bottom: calc(60px + 20 * (100vw - 320px) / 448);
}

.techs__subtitle {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
  font-size: calc(30px + 20 * (100vw - 320px) / 448);
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;

  transition: all .5s ease;
}

.techs__paragraph {
  padding: 0;
  margin: 0;
  margin: 0 auto;
  margin-bottom: calc(24px + 59 * (100vw - 320px) / 448);
  width: 90%;

  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: -0.04em;
}

.techs__element-text {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
}

.techs__list {
  padding: 0;
  margin: 0;
  padding-bottom: calc(70px + 20 * (100vw - 320px) / 448);
  list-style-type: none;

  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 84px);
  justify-content: center;
  gap: 10px;
}

.techs__element {
  width: 84px;
  height: 57px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #303030;

  display: flex;
  align-items: center;
  justify-content: center;
}


@media (min-width: 534px) {
  .techs__paragraph {
    width: 425px;
  }
}

@media(min-width: 768px) {
  .techs__title {
    font-size: 22px;
    padding-bottom: 23px;
    padding-top: calc(90px + 10 * (100vw - 768px) / 512);
    margin-bottom: calc(80px + 10 * (100vw - 768px) / 512);
  }

  .techs__subtitle {
    font-size: 50px;
  }

  .techs__paragraph {
    font-size: calc(12px + 2 * (100vw - 768px) / 512);
    margin-bottom: calc(24px + 59 * (100vw - 768px) / 512);
  }

  .techs__list {
    width: 100%;
    padding-bottom: calc(90px + 10 *(100vw - 768px) / 512);
  }

  .techs__element-text {
    font-size: calc(12px + 2 * (100vw - 768px) / 512);
  }
}

@media(min-width: 1280px) {
  .techs__title {
    padding-top: 100px;
  }

  .techs__paragraph {
    font-size: 14px;
  }

  .techs__list {
    padding-bottom: 100px;
  }

  .techs__element-text {
    font-size: 14px;
  }

}