.burger-menu {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #202020;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: -500px;
  z-index: 5;

  padding-left: calc(13px + 9 * (100vw - 320px) / 448);
  padding-right: calc(13px + 9 * (100vw - 320px) / 448);
  padding-top: calc(13px + 9 * (100vw - 320px) / 448);
  padding-bottom: calc(46px + 49 * (100vw - 320px) / 448);

  transition: right .6s, visibility .6s;
  visibility: hidden;
}

.burger-menu .button-close {
  align-self: flex-end;
}

.burger-menu .account-menu {
  margin-top: auto;
}

.burger-menu_active {
  right: 0;
  visibility: visible;
}

.burger-menu__link-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  padding-top: calc(99px + 6 * (100vw - 320px) / 448);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px 0;
}

.burger-menu__link {
  padding: 0;
  margin: 0;
  text-decoration: none;

  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  width: max-content;
  line-height: normal;
}

.burger-menu__link.active {
  border-bottom: 2px solid #fff;
  padding-bottom: 7px;
}


@media (min-width: 576px) {
  .burger-menu {
    width: calc(576px - 56 * (100vw - 576px) / 192);

  }
}

@media (min-width: 956px) {
  .burger-menu {
    width: 465px;
    visibility: hidden;
    right: -500px;
  }
}

/* .btn-close_position_burger-menu {
  align-self: flex-end;
} */

/* .account-menu_position_burger-menu {
  margin-top: auto;
} */