/* @keyframes animationLike {
  0% {
    background-position: -50% 50%;
  }

  100% {
    background-position: 180% 50%;
  }
} */

.button-like {
  padding: 0;
  margin: 0;
  border: none;

  cursor: pointer;
  border-radius: 50%;
  background-color: #313131;
  background-image: url(../../images/svg/btn-like-inactive.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 10px 8.5px;

  width: 24px;
  height: 24px;

  opacity: 1;
  transition: all .3s ease;
  /* animation: animationLike .3s 1; */
}

.button-like_active {
  background-image: url(../../images/svg/btn-like-active.svg);
  background-position: 50% 50%;

}

@media (hover: hover) {
  .button-like:hover {
    opacity: .7;
  }
}