.register {
  width: 100%;
  height: 100dvh;
  box-sizing: border-box;

  min-height: 620px;
  /* padding-bottom: calc(30px + 202 * (100vw - 320px) / 448); */
  padding-bottom: calc(30px + 242 * (100vw - 320px) / 256);
  /* margin-bottom: calc(30px + 242 * (100vw - 320px) / 256); */
}

.register__container {
  height: 100%;
  display: flex;
  margin: 0 auto;
  min-height: 316px;
  width: calc(260px + 136 * (100vw - 320px) / 448);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.register__container .logo {
  padding-top: calc(56px + 176 * (100vw - 320px) / 448);
}

.register__labels-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  gap: 24px 0;
}

.register__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  gap: 20px 0;
}

.register__title {
  padding: 0;
  margin: 0;
  margin-top: calc(50px - 10 * (100vw - 320px) / 448);
  padding-bottom: calc(80px - 40 * (100vw - 320px) / 448);

  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.register__label {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* .register__label[type='email'] {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
} */

.register__label-text {
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  padding-bottom: 5px;

  color: #8B8B8B;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}

.register__input {
  padding: 0;
  margin: 0;
  border-style: none;
  background-color: transparent;

  width: 100%;

  text-align: left;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;

  border-bottom: 1px solid #424242;
  padding-bottom: 10px;

  transition: all .3s ease;
}

.register__input:focus {
  outline: none;
  border-bottom: 1px solid #4285F4;
}

.register__input_error:focus {
  border-right: 1px solid #ee3465;
}

.register__input_error {
  color: #ee3465;
}

.register__error {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #ee3465;
  position: absolute;
  left: auto;
  bottom: -16px;
}

.register__error-name {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #ee3465;
  position: absolute;
  left: auto;
  bottom: 20px;
}

.register__btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px 0;
  /* padding-bottom: 30px; */
}

.register__btn-edit {
  padding: 0;
  margin: 0;
  border: none;

  width: max-content;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;

  background-color: transparent;

  cursor: pointer;
  opacity: 1;
  transition: opacity .3s ease;
}

.register__btn-edit:disabled {
  color: #8b8b8b;
  cursor: default;
  outline: none;
}

.register__btn-exit {
  padding: 0;
  margin: 0;
  border: none;

  width: max-content;
  color: #EE3465;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;

  background-color: transparent;

  cursor: pointer;
  opacity: 1;
  transition: opacity .3s ease;
}

.register__screen {
  padding: 0;
  margin: 0;

  color: #8B8B8B;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.register__link {
  color: #4285F4;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;

  transition: opacity .3s ease;
  opacity: 1;
}


@media (hover: hover) {

  .register__btn-edit:hover,
  .register__btn-exit:hover,
  .register__link:hover {
    opacity: .7;
  }

}

@media (min-width: 576px) {
  .register {
    height: 100%;
    padding-bottom: 30px;
    /* margin-bottom: 30px; */
  }

  .register__form {
    /* justify-content: flex-start; */
  }

  .register__btn-container {
    margin-top: calc(0px + 152 * (100vw - 576px) / 192);
  }
}

@media (min-width: 768px) {
  .register {
    /* padding-bottom: calc(232px - 162 * (100vw - 768px) / 512); */
    /* padding-bottom: 0; */
  }

  .register__container {
    width: 396px;
    /* height: auto; */
    /* min-height: auto; */
    justify-content: flex-start;
    align-items: flex-start;
    /* padding-top: calc(232px - 162 * (100vw - 768px) / 512); */
  }

  .register__container .logo {
    padding-top: calc(232px - 162 * (100vw - 768px) / 512);
  }

  .register__btn-container {
    margin-top: 152px;
  }

  .register__title {
    margin-top: 40px;
    padding-bottom: 40px;
  }

  .register__btn-edit,
  .register__btn-exit {
    font-size: 13px;
  }

}

@media (min-width: 1280px) {
  .register__btn-container {
    margin-top: 152px;
  }

  .register__container .logo {
    padding-top: 70px;
  }

}