.promo {
  box-sizing: border-box;
  background-color: #073042;
  width: 100%;
}

.promo__container {
  box-sizing: border-box;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: calc(40px + 30 * (100vw - 320px) / 448);

}

.promo__title {
  margin: 0;
  padding: 0;
  min-width: 300px;
  max-width: 680px;
  width: 89%;

  padding-top: calc(183px + 117 * (100vw - 320px) / 448);
  padding-bottom: calc(60px + 80 * (100vw - 320px) / 448);
  text-align: center;
  /* font-size: 31px; */
  /* Формула адаптивного шрифта */
  font-size: calc(31px + 9 * (100vw - 320px) / 448);
  font-weight: 400;
  line-height: 1.26;
  letter-spacing: -0.04em;

  align-self: center;
}

.promo__logo {
  min-width: 320px;
  width: 100vw;
  max-width: 680px;
  height: 230px;
  flex-shrink: 0;
  fill: #FFF;
  background-image: url(../../../images/svg/promo-logo-2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .promo__container {
    width: 89%;
    min-width: 708px;
    max-width: 1280px;
    padding-bottom: calc(70px - 10 * (100vw - 768px) / 512);
  }

  .promo__title {
    font-size: 40px;
    line-height: 1.3;
    padding-top: calc(300px - 250 * (100vw - 768px) / 512);
    padding-bottom: calc(140px - 38 * (100vw - 768px) / 512);
  }

  .promo__logo {
    /* min-width: 680px; */
    max-width: none;
    width: 680px;
  }
}


@media (min-width: 956px) {
  .promo__title {
    align-self: flex-start;
    text-align: left;
  }

  .promo__logo {
    width: 722px;
    height: 244px;
    align-self: flex-end;
  }
}


@media (min-width: 1280px) {
  .promo__container {
    padding-bottom: 60px;
  }

  .promo__title {
    padding-top: 50px;
    padding-bottom: 102px;
  }

}