.about-me {
  box-sizing: border-box;
  width: 100%;
}

.about-me__container {
  box-sizing: border-box;
  width: 91.3%;
  margin: 0 auto;
}

.about-me__bio {
  display: grid;
  grid-template-columns: minmax(292px, 1fr);
  justify-content: space-between;
  gap: 0 30px;
  grid-template-areas:
    "img"
    "name"
    "about"
    "text"
    "link";
}

.about-me__title {
  padding: 0;
  margin: 0;
  font-size: calc(18px + 4 * (100vw - 320px) / 448);
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;

  border-bottom: 1px solid #DADADA;
  padding-bottom: calc(28px - 5 * (100vw - 320px) / 448);
  padding-top: calc(70px + 20 * (100vw - 320px) / 448);
  margin-bottom: calc(60px + 6 * (100vw - 320px) / 448);
}

.about-me__subtitle {
  padding: 0;
  margin: 0;
  padding-top: 40px;
  grid-area: name;
  padding-bottom: 20px;
  font-size: calc(30px - 10 * (100vw - 320px) / 448);
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;

  transition: all .5s ease;
}

.about-me__about-text {
  padding: 0;
  margin: 0;
  grid-area: about;
  padding-bottom: 20px;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.45;
}

.about-me__paragraph {
  padding: 0;
  margin: 0;
  grid-area: text;
  padding-bottom: 40px;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.45;
}

.about-me__link {
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  grid-area: link;
  align-self: end;


  text-decoration: none;
  position: relative;
  opacity: 1;

  transition: .4s ease;
  border-top: 0 solid transparent;
  border-bottom: 0 solid transparent;
}

.about-me__img-avatar {
  grid-area: img;
  display: block;
  /* aspect-ratio: 1; */
  width: 100%;
  /* height: calc(352px - 45 * (100vw - 320px) / 512); */
  height: 100%;
  /* height: 352px; */
  /* flex-shrink: 0; */
  border-radius: 10px;
  object-fit: cover;
  object-position: left;

  transition: all .5s ease;

}


/* Выключает ховер на мобильных устройствах */
@media (hover: hover) {
  .about-me__link:hover {
    opacity: .8;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
  }
}

@media (min-width: 576px) {
  .about-me__img-avatar {
    margin-bottom: 0;
  }

  .about-me__bio {
    grid-template-columns: calc(292px + 72 * (100vw - 576px) / 192) calc(200px + 55 * (100vw - 576px) / 192);
    grid-template-rows: repeat(3, min-content) 1fr;
    grid-template-areas:
      "name img"
      "about img"
      "text img"
      "link img"
  }

  .about-me__subtitle {
    padding-top: 0;
  }

}

@media (min-width: 768px) {
  .about-me__bio {
    grid-template-columns: calc(364px + 236 *(100vw - 768px) / 512) calc(255px + 15 *(100vw - 768px) / 512);
  }

  .about-me__paragraph {
    font-size: calc(12px + 6 * (100vw - 768px) / 512);
    line-height: 1.5;
  }

  .about-me__about-text {
    padding-bottom: calc(20px + 6 * (100vw - 768px) / 512);
    font-size: calc(12px + 2 * (100vw - 768px) / 512);
  }

  .about-me__subtitle {
    font-size: calc(40px + 10 * (100vw - 768px) / 512);
  }

  .about-me__title {
    font-size: 22px;
    padding-bottom: 23px;
    padding-top: calc(90px + 20 * (100vw - 768px) / 512);
    margin-bottom: calc(80px - 14 * (100vw - 768px) / 512);
  }

}

@media (min-width: 1280px) {
  .about-me__about-text {
    padding-bottom: 26px;
  }

  .about-me__subtitle {
    font-size: 50px;
  }

  .about-me__about-text {
    font-size: 18px;
  }

  .about-me__paragraph {
    font-size: 14px;
  }
}